.header {
  /* background: chartreuse; */
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: black;
  position: fixed;
  width: 100%;
  z-index: 100;
  top:0px;
}

.logo {
  height: 70%;
  width: 20%;
  /* background: coral; */
}

.logo img {
  height: 100%;
  width: 100%;
}

.search-btn {
}

.search-btn input {
  outline: none;
  border: none;
  text-align: center;
}

.header-links {
  /* background-color: aquamarine; */
  width: 20%;
  display: flex;
  justify-content: space-evenly;
}

.header-link {
}

.header-link a {
  text-decoration: none;
  color: #db202c;
}
