* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.chat-container {
    height: 100vh;
    display: flex;
    background: lightgray;
}

.left-view {
    height: 100%;
    width: 25%;
    background: aliceblue;
    overflow: auto;
}

.right-view {
    width: 75%;
    height: 100%;
    background: #34495e;
}

.chat-window {
    height: 90%;
    padding: 10px;
    width: 100%;
    overflow: auto;
}

.chat {
    color: white;
    min-height: 30px;
    border-radius: 10px;
    padding: 5px;
    margin-top: 15px;
    width: 250px;
    clear: both;
    word-break: break-all;
}

.left {
    background: #2c3e50;
    display: flex;
    align-items: center;
}

.right {
    background: #9b59b6;
    display: flex;
    align-items: center;
    float: right;
}

.join {
    background: #3498db;
    width: 80%;
    margin: auto;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leave {
    background: #e74c3c;
    width: 80%;
    margin: auto;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-input-box {
    height: 10%;
    background: #34495e;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-top: 1px solid lightgray; */
}

.chat-input-box input {
    height: 60%;
    width: 80%;
    outline: none;
    border: none;
    border-radius: 15px;
    /* font-size: 1.2rem; */
    padding: 10px;
    background: #2c3e50;
    color: white;
}

.me {
    width: 100%;
    height: 20%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.user {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.user-image {
    height: 80%;
    width: 50%;
}

.user-image img {
    height: 100%;
    width: 100%;
}

.user-name {
}

.online-list {
}
