* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.menu {
    border: 1px solid;
    height: 30px;
}

.menu-options {
    border: 1px solid;
    height: 60px;
}

.address-content {
    border: 1px solid;
    height: 30px;
}

.cells-content {
    height: calc( 100vh - 150px);
    background: lightgreen;
    overflow: auto;
}

.sheets {
    border: 1px solid;
    height: 30px;
}

.row {
    display: flex;
}

.cell {
    border: 1px solid;
    min-height: 30px;
    min-width: 70px;
}
