.movie-page{
    height: calc(100vh - 50px);
    position: relative;
}

.movie-page-poster{
    height: 100%;
    width: 100%;
}

.movie-page-poster img{
    height:100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.4;
}

.movie-page-details{
    position: absolute;
    top: 0px;
    color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width:100%;
}

.movie-trailer{
    height: 65%;
}

.movie-trailer div{
    height: 100%;
}